<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-App</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="mainContent">
        <h1>English Nova</h1>
        <button id="profileButton">Профиль</button>
    </div>

    <div id="profileContent" class="hidden">
        <h2>Профиль пользователя</h2>
        <p id="user_name"></p>
        <button id="backButton">Назад</button>
    </div>

    <script>
    let tg = window.Telegram.WebApp;
    let profileButton = document.getElementById("profileButton");

    profileButton.addEventListener("click", () => {
        console.log(tg.initDataUnsafe.user); // Логируем данные пользователя
        document.getElementById("mainContent").style.display = "none";
        document.getElementById("profileContent").style.display = "block";

        // Убедитесь, что данные пользователя доступны.
        if (tg.initDataUnsafe.user) {
            document.getElementById("user_name").innerText = tg.initDataUnsafe.user.first_name + " " + tg.initDataUnsafe.user.last_name;
        } else {
            document.getElementById("user_name").innerText = "Имя не доступно.";
        }
    });
    </script>
</body>
</html>