body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #4a90e2;
}


.rotating-smiley {
  position: absolute;  /* Размещаем элемент на экране */
  top: 20px;           /* Расстояние от верхнего края */
  left: 20px;          /* Расстояние от левого края */
  width: 50px;         /* Устанавливаем размер */
  height: 50px;        /* Устанавливаем размер */
  z-index: 9999;       /* Убедитесь, что смайлик находится поверх других элементов */
  opacity: 1;          /* Убедитесь, что смайлик не скрыт */
}


button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357ab8;
}

.hidden {
    display: none;
}

#mainContent, #profileContent, #start_learning_context {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
